.venv
.env
venv

settings-me.yaml

.ruff_cache
.pytest_cache
.mypy_cache

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# pyenv
/.python-version

# IDE
.idea/
.vscode/
/.run/
.fleet/

# macOS
.DS_Store